/* 首页的样式 */
.main {
    width: 980px;
    height: 455px;
    /* background-color:pink; */
    margin:  10px 0 0 219px ;
}
.focus {
    position: relative;
    width: 720px;
    height: 455px;
    background-color: purple;
}
.arrow-l,
.arrow-r {
    position: absolute;
    /* 垂直居中: 高度的一半，然后上升到自己高度的一半 */
    top: 50%;
    /* 上升为负号 */
    margin-top: -20px;
    width: 24px;
    height: 40px;
    /* 达到半透明的效果 */
    background: rgba(0,0,0,.3);
    /* 水平居中 */
    text-align: center;
    /* 垂直居中高度=盒子高度 */
    line-height: 40px;
    color: #fff ;
    font-family: 'icomoon';
    font-Size:18px;
}
.arrow-r {
    right: 0;
}
.circle {
    position: absolute;
    bottom:10px ;
    left: 50px;
}
.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /* background-color: #fff; */
    border: 2px solid rgba(255,255,255,.5);
    margin: 0 3px;
    border-radius: 50%;
    /* 鼠标显示小手 */
    cursor: pointer;
}
.current {
    background-color: #fff;
}
.newsflash {
    width: 250px;
    height: 455px;
}
.news {
    height: 163px;
    border: 1px solid #ccc;
}
.news-hd {
    height: 32px;
    /* dotted 点线 dashed 虚线 */
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    line-height: 32px;
    padding: 0 15px;
}
.news-hd a{
    float: right;
}
.news-bd {
    padding: 10px 0 0 15px;
}
.news-bd li{
    height: 23px;
}
.lifeservice {
    height: 208px;
    /* background-color: purple; */
    /* border 不能写成 1px 1px 1px 0px 的格式 */
    border: 1px solid #ccc;
    border-top: 0px;
    overflow: hidden;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.lifeservice li a {
    /* 转换称为block之后 宽是继承父亲的 */
    display: block;
    /* 高 也形成100% */
    height: 100%;
    /* 解决 i 引起的 外边框塌陷合并的问题 */
    overflow: hidden;
}
.lifeservice li p {
    text-align: center;
}
.hot {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url(../img/jian.jpg) no-repeat;
}
.service_ico {
    /* i 是行内元素无大小，所以转换成为块状元素 */
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icons.png) no-repeat;
    margin: 10px auto;
}
.service_ico_huafei {
    background-position: -17px -16px;
}
.service_ico_feiji {
    width: 26px;
    background-position: -78px -16px;
}
.bargain {
    height: 75px;
    margin-top: 5px;
}
/* 推荐模块 */
.recommend {
    height: 163px;
    /* background-color: pink; */
    margin-top: 10px;
}
.recom-hd {
    width: 200px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
}
.recom-hd img {
    margin: 30px 0 10px 0px;
}
.recom-hd h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.recom-bd {
    width: 1000px;
    height: 163px;
    background-color: #ebebeb;
}
.recom-bd li {
    width: 249px;
    border-right: 1px solid #ccc;
    height: 145px;
    /* background-color: pink; */
    float: left;
    margin-top: 10px;
}
.recom-bd .last {
    border-right: 0px;
}
/* floor 区 */
.box-hd {
    height: 30px;
    /* background-color: pink; */
    border-bottom: 2px solid #c81623;
}
.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}
.tab-list {
    line-height: 30px;
}
.tab-list li {
    float: left;
}
.tab-list li a {
    margin: 0 15px;
}
.box-bd {
    height: 360px;
    background-color:pink;
}
.w209 {
    width: 209px;
    background-color: #f9f9f9;
}
.w329 {
    width: 329px;
}
.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}
.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}
.tab-con li {
    float: left;
    height: 360px;
}
.top-con-item {
    border-bottom: 1px solid #ccc;
}
.tab-con-list {
    /* 盒子没有高度，所以要取消浮动--父亲没有高，只有一条线，孩子浮动会出问题 */
    /* 所以清除浮动，检测高度，再加上mgb */
    overflow: hidden;
    margin-bottom: 15px;
}
.tab-con-list li {
    width: 86px;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    text-align: center;
}
.box-bd img {
    transition: all .2s;
}
.box-bd img:hover {
    margin-left: 8px ;
}
/* 电梯导航区域 */
.fixedtool {
    width: 66px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -666px;
    background-color: #fff;
}
.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}